.button {
  display: block;
  color: var(--control-color-normal);
  font-size: 1rem;
  border: 1px solid var(--border-slight-control);
  background: var(--background-control-normal);
  border-radius: 4px;
  padding: 0.1rem 0.25rem;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  margin: 0;
}

.button:hover {
  color: var(--control-color-hover);
  background: var(--background-control-hover);
}

.button:active {
  color: var(--control-color-pressed);
  border: 1px solid var(--border-slight-control-active);
  background: var(--background-control-pressed);
}

/* TODO: Fix outlines */
.button:focus {
  outline-width: 0px;
}

.button-like {
  background: var(--background-control-normal);
  color: var(--button-color-normal);
  border: 1px solid var(--border-slight-control);
  cursor: pointer;
  border-radius: 4px;
}

.button-like:hover {
  color: var(--button-color-hover);
  background: var(--background-control-hover);
}

.button-like:active {
  color: var(--button-color-pressed);
  border: 1px solid var(--border-slight-control-active);
  background: var(--background-control-pressed);
}

.button-like-nonclickable {
  background: var(--background-control-normal);
  color: var(--button-color-normal);
  border: 1px solid var(--border-slight-control);
}

.button[disabled] {
  background-color: var(--background-control-disabled);
  color: var(--font-color-disabled);
  pointer-events: none;
  nav-index: -1;
}
